<script type="text/javascript" src="http://www.douban.com/js/api.js?v=2"></script>
<script type="text/javascript" src="http://www.douban.com/js/api-parser.js?v=1"></script>

<ul ng-controller='CollectionsCtrl'>
	<li ng-repeat='book in books'>
		<a href='{{book.url}}' title='{{book.title}}'>
			<img src='{{book.cover_url}}' />
			{{book.title}}
		</a>
	</li>
</ul>
