<div class='shelf' ng-controller="BookShelfCtrl">
	<div class='top'></div>
	<div class='grid' ng-repeat="category in categories">
		<ul>
			<li ng-repeat="book in category.books" class='book'>
				<a href='http://book.douban.com/subject/{{book.douban_id}}' title='{{book.title}}'>
					<div class='title'>{{book.title.substring(0, 7).toUpperCase()}}</div>
				</a>
			</li>
		</ul>
	</div>
</div>