.shelf {
	width: 600px;
}

.shelf .top {
	height: 48px;
	background-image: url(shelf-top.jpg);
}

.shelf .grid {
	height: 146px;
	background-image: url(shelf-grid.jpg);
	padding-left: 20px;
}

/*	I don't need bottom at this moment
.shelf .bottom {
	height: 145px;
	background-image: url(shelf-bottom.jpg);
}
*/

.shelf ul {
	display: inline;
	list-style: none;
}

.shelf li.book {
	float: left;
	background-color: #eee;
	height: 100px;
	width: 20px;
	margin: 30px 2px 0 0;
	text-align: center;
	line-height: 12px;
	font-size: 10px;
	word-wrap: break-word;
	letter-spacing: 15px;
	box-shadow: 2px -2px 10px #333;
	-moz-box-shadow: 2px -2px 10px #333;
	-webkit-box-shadow: 2px -2px 10px #333;
}

.shelf li.book:last-child {
	-webkit-transform: rotate(-20deg);
	-moz-transform: rotate(-20deg);
	margin-left: 15px;
}

.shelf li.book .title {
	height: 100%;
	margin: 5px 0 0 4px;
}

.shelf li.book a {
	text-decoration: none;
	color: #222;
}

/*	I don't need book cover image at this moment
.shelf li.book img {
	height: 100px;
	margin: 30px 15px 0 0;
	box-shadow: 2px -2px 10px #333;
	-moz-box-shadow: 2px -2px 10px #333;
	-webkit-box-shadow: 2px -2px 10px #333;
}
*/